
<div class="wrapper col large">
  <div nz-row class="full-center">
    <div class="button-small" nz-col nzSpan="2">
      <!-- <app-filter></app-filter> -->
      <button class="button-navi" nz-button nzType="primary">
        <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="toggleNavbar()"></span>
        <!-- <app-filter *ngIf="isNavbar"></app-filter> -->
      </button>
    </div>
    <div nz-col nzSpan="6">
      <img class="logo" src="https://theme.hstatic.net/200000278317/1000929405/14/logo_medium.png?v=1400" alt="" nz-row
        nzSpan="6">
    </div>
    <div nz-col nzSpan="12">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input class="search-input" type="text" pInputText placeholder="Nhập sản phẩm cần tìm" />
      </p-iconField>
    </div>
    <div nz-col nzSpan="4">
      <div class="wrap-user row gap-1">
        <span>Huu Thanh</span>
        <i class="pi pi-user"></i>
        <i class="pi pi-shopping-bag"></i>
      </div>
    </div>
  </div>
  <div class="wrap-behind">
    <app-filter *ngIf="isNavbar" [nzMode]="nzMode"></app-filter>
  </div>
</div>

