.wrapper-header{
  height: 100%;
  background-color: rgb(250, 250, 250);
  /* border:1px solid black; */
  position: relative;
}

.wrap-user{
  /* width: 100%; */
  /* height: 30px; */
  position: absolute;
  bottom: 0;
  align-items: center;
  padding: 5px 25px;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid rgb(231, 226, 226);
  text-align: center;
  height: 100px;
}

.wrap-user button {
  color: white;
  background-color: #4096ff;
  width: 90px;
  border: 1px solid #4096ff;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

/* .wrap-user button:hover {
  background-color: white;
  border: 1px solid black;
  background-color: #4096ff;
  color: black;
} */
