<div class="wrapper-header">
  <ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard" nzOpen>
      <ul>
        <li nz-menu-item nzSelected>Option 1</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li [routerLink]=" "  nz-menu-item>
      Quản lí sản phẩm
    </li>
    <!-- <li nz-menu-item nzTitle="Quản lí sản phẩm" nzIcon="appstore"> -->
      <!-- <ul>
        <li nz-menu-item>Option 5</li>
        <li nz-menu-item>Option 6</li>
        <li nz-submenu nzTitle="Submenu">
          <ul>
            <li nz-menu-item>Option 7</li>
            <li nz-menu-item>Option 8</li>
            <li nz-submenu nzTitle="Submenu">
              <ul>
                <li nz-menu-item>Option 9</li>
                <li nz-menu-item>Option 10</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul> -->
    <!-- </li> -->
    <li nz-submenu nzTitle="Quản lí đơn hàng" nzIcon="setting">
      <ul>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
      </ul>
    </li>
  </ul>
  <div class="wrap-user row gap-1 ">
    <div class="column ">
      <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      styleClass="mr-2"
      size="large"
      shape="circle" />
      <h4>Admin</h4>
    </div>


    <button>Logout</button>
  </div>
</div>
