<div class="wrapper gap-2 column">
  <div class="wrap-first column gap-2">
    <div class="wrap-front column gap-05">
      <h3>SẮP XẾP</h3>
      <select [(ngModel)]="selectedValue" class="sort-select" name="" id="" (ngModelChange)="onSortSelected(selectedValue)">
        <option default disabled selected value="">Sản phẩm nổi bật</option>
        <option value='{"sortBy": "onSales", "isAsceding": "true"}'>Giảm giá</option>
        <option value='{"sortBy": "price", "isAsceding": "true"}'>Giá: Tăng dần</option>
        <option value='{"sortBy": "price", "isAsceding": "false"}'>Giá: Giảm dần</option>
        <option value='{"sortBy": "productName", "isAsceding": "true"}'>Tên: A-Z</option>
        <option value='{"sortBy": "productName", "isAsceding": "false"}'>Tên: Z-A</option>
        <option disabled value="">Bán chạy nhất</option>
      </select>
    </div>
    <!-- [nzTipFormatter]="onValueChange()" -->
    <div class="wrap-front column">
      <h3>GIÁ</h3>
      <nz-slider [nzMin]="currentMinPrice" [nzMax]="currentMaxPrice" [nzStep]="stepPrice" nzRange [(ngModel)]="rangePrice"
      (nzOnAfterChange)="onAfterChange(rangePrice[0],  rangePrice[1])"
      ></nz-slider>
      <div class="row gap-05">
        <span>{{ rangePrice[0] | money }}</span> - <span>{{ rangePrice[1] | money }}</span>
      </div>
    </div>
  </div>

  <div class="wrap-second column gap-2">
    <div class="wrap-behind column gap-05">
      <div class="wrap-box-head row align-center space-between">
        <h3>THƯƠNG HIỆU</h3>
        <div class="button-container">
          <button
          class="button-change"
          (click)="toggleBoxBranch()"
          >
            <span *ngIf="!isCheckedBoxBranch"   nz-icon nzType="plus" nzTheme="outline"></span>
            <span *ngIf="isCheckedBoxBranch" nz-icon nzType="minus" nzTheme="outline"></span>
          </button>
        </div>
      </div>
      <div [ngClass]="{ 'wrap-checkbox column gap-05': true, 'open': isCheckedBoxBranch }">
        <div class="row gap-1">
          <input class="checkbox" type="checkbox"/>
          <span>NIKE</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox"/>
          <span>ADIDAS</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>PUMA</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>MIZUNO</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>JOMA</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>DESPORTE</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>ASICS</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>KAMITO</span>
        </div>
      </div>
    </div>

    <div class="wrap-behind column gap-05">
      <div class="wrap-box-head row align-center space-between">
        <h3>SIZE</h3>
        <div class="button-container">
          <button
          class="button-change"
          (click)="toggleBoxSize()"
          >
            <span *ngIf="!isCheckedBoxSize"   nz-icon nzType="plus" nzTheme="outline"></span>
            <span *ngIf="isCheckedBoxSize" nz-icon nzType="minus" nzTheme="outline"></span>
          </button>
        </div>
      </div>
      <div [ngClass]="{ 'wrap-checkbox column gap-05': true, 'open': isCheckedBoxSize }">
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>39</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox"/>
          <span>40</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>41</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>42</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>43</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>44</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>45</span>
        </div>
        <div class="row gap-1">
          <input class="checkbox" type="checkbox" />
          <span>46</span>
        </div>
      </div>
    </div>
  </div>

</div>
