<div class="wrapper">
  <div *ngIf="cartItems.length > 0">
    <strong class="title">
      GIỎ HÀNG CỦA BẠN
    </strong>
    <div class="wrapper-cart row gap-2">
      <div class="cart-product column gap-1">
        <div class="wrap-all-product column gap-1 ">
          <div *ngFor="let item of cartItems" class="row wrap-product">
            <div [@imageState]="imageLoaded ? 'loaded' : 'loading'" class="wrap-image">
              <img src="{{item.imageUrl}}" alt="product image" (click)="navigator('product-detail')" (load)="onImageLoad()">
            </div>
            <div class="wrap-product-infor row space-between">
              <div class="product-infor">
                <div class="text-infor">
                  <strong (click)="navigator('product-detail')">{{item.productName}} - {{item.color}}</strong>
                  <p>Size: {{item.size.sizeValue}}</p>
                </div>
                <div class="row space-between">
                  <div class="row gap-05 wrap-quantity">
                    <button type="button" class="change-quan">
                      <span nz-icon nzType="minus" nzTheme="outline"></span>
                    </button>
                    <!-- <h2 style="margin-top: 5px;">{{quantity}}</h2> -->
                    <input class="input-quantity" type="number" value="{{item.quantity}}">
                    <button type="button" class="change-quan">
                      <span nz-icon nzType="plus" nzTheme="outline"></span>
                    </button>
                  </div>
                  <div class="row gap-05 wrap-price">
                    <!-- @if (item.priceList[1] !== null) {
                      <span class="new-price">2,000,000đ</span>
                      <div class="old-price">
                        <span>1,950,000đ</span>
                      </div>
                    }@else{
                      <span class="new-price">2,000,000đ</span>
                    } -->

                    @if(item.priceList[0].priceType === 'CONTACT'){
                    <h3 class="new-price price-contact">Liên hệ</h3>
                    }@else {
                    <span class="new-price">{{item.priceList[0].value | money}}</span>
                    @if(item.priceList[1] != undefined){
                    <div class="old-price">
                      <span>
                        {{item.priceList[1].value | money}}
                      </span>
                    </div>
                    }
                    }
                  </div>
                </div>
              </div>
              <div>
                <span (click)="removeCartItem(item.productId)" class="delete-product" nz-icon nzType="close" nzTheme="outline"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cart-infor">
        <div class="wrap-order column gap-05">
          <strong>ORDER SUMMARY</strong>
          <div class="column">
            <div class="row space-between">
              <span>2 Items</span>
              <span>6,200,000₫</span>
            </div>
            <div class="row space-between">
              <span>Original price</span>
              <span>6,200,000₫</span>
            </div>
            <div class="row space-between">
              <span>Delivery</span>
              <span>Free</span>
            </div>
            <div class="row space-between old-price" style="text-decoration: none;">
              <span>On sale</span>
              <span>- 1,600,000₫</span>
            </div>
          </div>
          <div class="row space-between">
            <strong>Total</strong>
            <strong>1,600,000₫</strong>
          </div>
        </div>

        <div class="payment-infor">
        </div>

        <button class="check-out">
          <span>CHECK OUT</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="cartItems.length == 0" class="wrapper-empty-cart column gap-05 full-center">
    <!-- <h1>GIỎ HÀNG BẠN ĐANG TRỐNG</h1>
    <button class="check-out continue">
      <span>TIẾP TỤC MUA HÀNG</span>
    </button> -->
    <nz-empty [nzNotFoundContent]="'GIỎ HÀNG TRỐNG'"></nz-empty>
    <button class="check-out continue" (click)="navigator('')">
      <span>TIẾP TỤC MUA HÀNG</span>
    </button>
  </div>
</div>
