<div class="wrapper">
  <div class="fillter row gap-2">
    <div class="option-filter row gap-2">
      <span style="text-align: center;" nz-icon nzType="search" nzTheme="outline"></span>
      <div class="input-search">
        <input nz-input placeholder="Nhập thông tin" nzSize="large" />
      </div>
    </div>
    <div>
      <select class="select-sort" name="" id="">
        <option value="1" disabled>Sắp xếp</option>
        <option value="2">Giá tăng dần</option>
        <option value="3">Giá giảm dần</option>
        <option value="4">Giảm giá</option>
      </select>
    </div>
    <button class="button-add" (click)="togglePopupCreate()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </button>
  </div>
  <div class="wrap-table">
    <nz-table #basicTable [nzData]="products" (nzPageIndexChange)="scrollTopPage()">
      <thead>
        <tr>
          <th>Mã SP</th>
          <th>Tên sản phẩm</th>
          <th>Thương hiệu</th>
          <th>Loại</th>
          <th>Giá</th>
          <th>Chương trình</th>
          <th>Hình ảnh</th>
          <th>Chi tiết</th>
          <th>Thêm hình</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data) {
        <tr>
          <td>
            {{data.productId}}
          </td>
          <td>
            {{data.productName}}
          </td>
          <td>
            {{data.productLine?.branch?.branchName}}
          </td>
          <td>
            {{data.category.categoryName }}
          </td>
          <td>
            @if(data.priceList !== null){
            {{data.priceList[0].value | money}}
            }@else {
            N/A
            }
          </td>
          <td>
            {{data.salePercent ? 'Đang giảm giá': 'N/A'}}
          </td>
          <td>
            <div class="wrap-image">
              @if(data.imageList !== null){
              <img src="{{data.imageList[0].imageUrl}}" alt="product-image">
              }@else {
              <img src="assets/images/logo.jpg" alt="product-image">
              }
            </div>
          </td>

          <td class="wrap-icon">
            <span class="icon-action icon-view" nz-icon nzType="eye" nzTheme="outline"
              (click)="viewProductDetail(data)"></span>
          </td>
          <td class="wrap-icon">
            <span class="icon-action icon-image" nz-icon nzType="file-image" nzTheme="outline"
              (click)="editImage(data)"></span>
          </td>
          <td class="wrap-icon">
            @if (data.status === 'ACTIVE') {
            <span class="icon-action icon-active" nz-icon nzType="check" nzTheme="outline" nz-popconfirm
              nzPopconfirmTitle="Bạn có chắc chắn muốn thay đổi trạng thái ?"
              (nzOnConfirm)="inActiveProduct(data)" nzPopconfirmPlacement="topRight" nz-button></span>
            }@else {
            <span class="icon-action icon-inactive" nz-icon nzType="close" nzTheme="outline" nz-popconfirm
              nzPopconfirmTitle="Bạn có chắc chắn muốn thay đổi trạng thái ?"
              (nzOnConfirm)="activeProduct(data)" nzPopconfirmPlacement="topRight" nz-button></span>
            }
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
<app-edit-product (onSubmited)="onSubmited($event)" [isEdit]="isEdit" [visible]="visibleEditProduct"
  (onClosePopup)="togglePopupEdit()" [product]="productDetail"></app-edit-product>
<app-edit-image [visible]="visibleEditImage" [product]="productDetail"
  (onClosePopup)="togglePopupEditImage()"></app-edit-image>
