<div class="card wrap">
  <ul *ngIf="isNavbar" nz-menu [nzMode]="nzMode" class="filter" nzTheme="light">
    <li [routerLink]="url" nz-menu-item>
      TRANG CHỦ
    </li>
    <li [routerLink]="url" nz-menu-item>
      TẤT CẢ SẢN PHẨM
    </li>
    <li nz-submenu nzTitle="GIÀY CỎ NHÂN TẠO">
      <ul>
        <li [routerLink]="url" nz-menu-item>NIKE</li>
        <li nz-menu-item>ADIDAS</li>
        <li nz-menu-item>PUMA</li>
        <li nz-menu-item>MIZUNO</li>
        <li nz-menu-item>JOMA</li>
        <li nz-menu-item>DESPORTE</li>
        <li nz-menu-item>ASICS</li>
        <li nz-menu-item>KAMITO</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="GIÀY FUTSAL">
      <ul>
        <li nz-menu-item>NIKE</li>
        <li nz-menu-item>ADIDAS</li>
        <li nz-menu-item>PUMA</li>
        <li nz-menu-item>MIZUNO</li>
        <li nz-menu-item>JOMA</li>
        <li nz-menu-item>DESPORTE</li>
        <li nz-menu-item>ASICS</li>
        <li nz-menu-item>KAMITO</li>
      </ul>
    </li>

    <li nz-submenu nzTitle="THƯƠNG HIỆU">
      <ul>
        <li nz-menu-item>NIKE</li>
        <li nz-menu-item>ADIDAS</li>
        <li nz-menu-item>PUMA</li>
        <li nz-menu-item>MIZUNO</li>
        <li nz-menu-item>JOMA</li>
        <li nz-menu-item>DESPORTE</li>
        <li nz-menu-item>ASICS</li>
        <li nz-menu-item>KAMITO</li>
      </ul>
    </li>
    <li nz-menu-item>
      HỆ THỐNG CỬA HÀNG
    </li>
    <li nz-menu-item>
      LIÊN HỆ
    </li>
  </ul>
</div>

