<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible"
  nzTitle={{title}} [nzFooter]="footerTpl" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <div class="wrapper">
      <div class="wrap-head" nz-row [nzGutter]="8">
        <div nz-col nzSpan="6" class="row gap-1">
          <strong>Mã SP: </strong>
          <span>{{product.productId}}</span>
        </div>
        <div nz-col nzSpan="18" class="row gap-1">
          <strong>Tên SP: </strong>
          <span>{{product.productName}}</span>
        </div>
      </div>
      <table>
        <thead>
          <!-- <tr>
            <th>Hình ảnh</th>
            <th class="wrap-th-td">Loại hình</th>
            <th class="wrap-th-td">Trạng thái</th>
          </tr> -->
        </thead>
        <tbody>
          <form [formGroup]="formImage">
            <div formArrayName="imageList">
              <div *ngFor="let imageGroup of imageList.controls; let i = index">
                <div [formGroupName]="i">
                  <tr>
                    <td>
                      <div class="wrap-image">
                        <input type="text" formControlName="imageUrl">
                        <img [src]="getImageUrl(imageGroup)" alt="image" (click)="getImageUrl(imageGroup)">
                      </div>
                    </td>
                    <td class="wrap-th-td">
                      <div style="width: 120px; margin: auto;">
                        <nz-select style="width: 100%;" name="type" nzPlaceHolder="Please choose the type">
                          <nz-option *ngFor="let type of listImageType" [nzLabel]="type" [nzValue]="type">
                          </nz-option>
                        </nz-select>
                      </div>
                    </td>
                    <td class="wrap-th-td">
                      <nz-select name="Status" nzPlaceHolder="Please choose the status">
                        <nz-option nzLabel="ACTIVE" nzValue="ACTIVE"></nz-option>
                        <nz-option nzLabel="INACTIVE" nzValue="INACTIVE"></nz-option>
                      </nz-select>
                    </td>
                  </tr>
                </div>
              </div>
            </div>
          </form>
          <!-- @for (formImage of imageList.controls; track formImage) { -->
          <!-- <div [formGroupName]="i">
                  <input id="imageUrl" formControlName="imageUrl" />
                  <img [src]="imageGroup.get('imageUrl')?.value" alt="">

                  <input id="imageUrl2" formControlName="status" />
                </div> -->

          <!-- <tr>
                  <td>
                    <div class="wrap-image">
                    <img [src]="productImage.imageUrl" alt="image" (click)="zoomImage(productImage.imageUrl)">
                  </div>
                  </td>
                  <td class="wrap-th-td">
                    <div style="width: 120px; margin: auto;">
                      <nz-select  style="width: 100%;" name="type"
                        nzPlaceHolder="Please choose the type">
                        <nz-option *ngFor="let type of listImageType" [nzLabel]="type" [nzValue]="type"></nz-option>
                      </nz-select>
                    </div>
                  </td>
                  <td class="wrap-th-td">
                    <nz-select name="Status" nzPlaceHolder="Please choose the status">
                      <nz-option nzLabel="ACTIVE" nzValue="ACTIVE"></nz-option>
                      <nz-option nzLabel="INACTIVE" nzValue="INACTIVE"></nz-option>
                    </nz-select>
                  </td>
                </tr> -->
          <!-- <tr *ngFor="let url of listPreviewUrl">
                <td>
                  <div class="wrap-image">
                    <img [src]="url" alt="image" (click)="zoomImage(url)">
                  </div>
                </td>
                <td class="wrap-th-td">
                  <div style="width: 120px; margin: auto;">
                    <nz-select style="width: 100%;" name="type" nzPlaceHolder="Chọn loại hình"
                      [(ngModel)]="statusSelected">
                      <nz-option *ngFor="let type of listImageType" [nzLabel]="type" [nzValue]="type"></nz-option>
                    </nz-select>
                  </div>
                </td>
                <td class="wrap-th-td">
                  <span>Hình mới</span>
                </td>
              </tr> -->


        </tbody>
      </table>

      <div *ngIf="getImageListData().length > 0">
        <div class="wrap-gr row gap-1">
          <div style="width: 100px;">
            <strong>Hình ảnh</strong>
          </div>

          <div class="wrap-type">
            <strong>Loại hình ảnh</strong>
          </div>

          <div class="wrap-status">
            <strong>Trạng thái</strong>
          </div>
          <div *ngIf="!isEdit" style="width: 40px;">
            <strong></strong>
          </div>
        </div>
      </div>

      <div *ngIf="isEdit && getImageListData().length === 0" style="margin-bottom: 10px;">
        <nz-empty [nzNotFoundContent]="'Chưa có hình ảnh'"></nz-empty>
      </div>

      <form [formGroup]="formImage">
        <div formArrayName="imageList" style="margin-bottom: 10px;">
          <div *ngFor="let imageGroup of imageList.controls; let i = index">
            <div [formGroupName]="i" class="wrap-gr row gap-1">
              <div class="wrap-image">
                <input formControlName="imageUrl" hidden readonly type="text">
                <img [src]="getImageUrl(imageGroup)" alt="image" (click)="zoomImage(getImageUrl(imageGroup))">
              </div>

              <div *ngIf="isEdit" class="wrap-type">
                <input *ngIf="!isDoing" [ngClass]="{'input-infor': true}" [readOnly]="!isDoing" name="type" nz-input
                  formControlName="typeImage" />

                <nz-select *ngIf="isDoing" formControlName="typeImage" style="width: 100%;" name="type"
                  nzPlaceHolder="Please choose the type">
                  <nz-option *ngFor="let type of listImageType" [nzLabel]="type" [nzValue]="type">
                  </nz-option>
                </nz-select>
              </div>

              <div *ngIf="isEdit" class="wrap-status">
                <input *ngIf="!isDoing" [ngClass]="{'input-infor': true}" [readOnly]="!isDoing" name="type" nz-input
                  formControlName="status" />
                <nz-select *ngIf="isDoing" formControlName="status" name="Status"
                  nzPlaceHolder="Please choose the status">
                  <nz-option nzLabel="ACTIVE" nzValue="ACTIVE"></nz-option>
                  <nz-option nzLabel="INACTIVE" nzValue="INACTIVE"></nz-option>
                </nz-select>
              </div>

              <div *ngIf="!isEdit" class="wrap-type">
                <input [ngClass]="{'input-infor': true}" readOnly name="type" nz-input value="SUB" />
              </div>

              <div *ngIf="!isEdit" class="wrap-status">
                <input [ngClass]="{'input-infor': true}" readOnly name="type" nz-input value="N/A" />
              </div>

              <div class="wrap-delete" *ngIf="!isEdit">
                <button (click)="removeImageFile(i)">
                  <span nz-icon nzType="close" nzTheme="outline"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div *ngIf="!isEdit" style="text-align: center;" class="column gap-05">
        <h3>Tải ảnh</h3>
        <div class="wrap-upload column gap-1">
          <input id="file-upload" type="file" (change)="onFileSelected($event)" placeholder="" accept="image/**"
            multiple>
          <label for="file-upload" class="custom-file-upload">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
          </label>
        </div>
      </div>
    </div>
  </ng-container>



  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Hủy bỏ</button>
      <button *ngIf="!isDoing" nz-button style="margin-right: 8px;" nzType="primary" (click)="onAddingImage()">Thêm
        ảnh</button>
      <button *ngIf="!isDoing && getImageListData().length > 0" nz-button style="margin-right: 8px;" nzType="primary" (click)="onUpdatingImage()">Chỉnh
        sửa</button>
      <button *ngIf="isDoing" nz-button nzType="primary" nz-popconfirm
        nzPopconfirmTitle="Bạn có chắc chắn muốn hoàn thành" (nzOnConfirm)="submit()" nzPopconfirmPlacement="topRight"
        nz-button>
        Hoàn tất</button>
    </div>
  </ng-template>
</nz-drawer>
