
<div class="wrapper col large">
  <div nz-row class="full-center row">
    <div class="button-small" nz-col nzSpan="2">
      <button class="button-navi" nz-button nzType="primary">
        <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="toggleNavbar()"></span>
      </button>
    </div>
    <div nz-col nzSpan="6" >
      <img style="margin: auto;" (click)="navigator('')" class="logo" src="https://theme.hstatic.net/200000278317/1000929405/14/logo_medium.png?v=1400" alt="" nz-row
        nzSpan="6">
    </div>
    <div nz-col nzSpan="12">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input class="search-input" type="text" pInputText placeholder="Nhập sản phẩm cần tìm" />
      </p-iconField>
    </div>
    <div nz-col nzSpan="3" style="margin: auto;">
      <div class="wrap-user row gap-1">
        <!-- <span>Huu Thanh</span> -->
        <i routerLink="login" class="pi pi-user"></i>
        <nz-badge [nzCount]="sizeCart">
          <i routerLink="cart" class="pi pi-shopping-bag"></i>
        </nz-badge>

      </div>
    </div>
  </div>
  <div class="wrap-behind">
    <app-filter-header *ngIf="isNavbar" [nzMode]="nzMode" [isNavbar]="isNavbar"></app-filter-header>
  </div>
</div>

