.small {
  display: none;
}

.button-small {
  display: none;
}
.wrapper {
  width: 100%;
  /* height: 100%; */

  border-bottom: 1px solid  var(--border-color);


  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  align-items: center;

}

.wrap-front {
  margin-top: 0;
  height: 60px;
}

.logo {
  width: 70%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}


.search-input {
  width: 100%;
  height: 50px;
}

.wrap-user {
  /* width: 40%; */
  margin: auto;
  align-items: center;
  justify-content: flex-end;
}


.wrap-user span {
  color: black;
  font-size: 14;
  font-weight: bold;
}

.pi {
  color: #708090;
  font-size: 1.5rem;
  padding: 3px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.pi:hover {
  color: black;
}

.full-center {
  padding: 0 10px;
  background-color: white;
}

/* .app-filter {
  transition: transform 2s ease-in-out;
} */
/* @media (max-width: 1367px) {
  .wrapper {
    height: 115px;
  }
} */

@media (max-width: 1023px) {
  /* .wrapper {
    height: 65px;
  } */

  .button-small {
    display: block;
  }
  .wrap-user {
    gap: 0.5rem;
  }
  .wrap-user span {
    display: none;
  }
  .search-input {
    height: 30px;
  }
  .full-center{
    margin: 10px 0;
  }
}

@media (max-width: 431px) {
  .wrapper {
    /* height:50px; */
    padding: 0 10px;
  }

  .search-input {
    width: 100%;
  }
}

