
<div class="wrapper gap-05 column">
  <div class="wrap-image">
    <div class="wrap-head row">
      <div class="wrap-head-item wrap-sale">
        <span>20%</span>
      </div>
      <div class="wrap-head-item wrap-new">
        <span>Mới ra mắt</span>
      </div>
    </div>
    <img class="image" src="https://product.hstatic.net/200000278317/product/-giay-da-bong-nike-zoom-mercurial-vapor-16-pro-tf-fq8687-400-xanh-lo-1_1c0738fae09444d28597ca180cdd9eb8_large.jpg" alt="productImage">
  </div>

  <h4 style="margin-bottom: 0;">NIKE ZOOM MERCURIAL VAPOR 15 PRO TF - DJ5605-700 - CREAM WHITE</h4>

  <div class="row gap-05 wrap-price">
    <span class="new-price">2,000,000đ</span>
    <div class="old-price">
      <span>1,950,000đ</span>
    </div>
  </div>
</div>
