.wrapper {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

img {
  aspect-ratio: 1;
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-color: grey;
}

.wrap-image {
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  z-index: 1;
}

/*  */

.wrap-head {
  padding: 0 5px;
  position: absolute;
  top: 3%;
  width: 100%;
  z-index: 10;
  height: 30px;
  gap: 4rem;
}

.wrap-head-item {
  padding: 3px;
  border-radius: 2%;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
.wrap-sale {
  width: 20%;
  background-color: white;
  color: rgb(217, 18, 31);
}

.wrap-new {
  width: 50%;
  background-color: rgb(217, 18, 31);
  color: white;
}

.wrap-price .new-price{
  color: #d71c36;
  font-weight: bold;
}

.old-price {
  color: rgb(169, 175, 181);
  text-decoration: line-through;
}



.wrapper:hover .image{
  transform: scale(1.1);
}


@media (max-width: 400px) {
  .wrap-sale {
    width: 30px;
  }


  .wrap-head{
    gap: 2rem;
  }
}
