.wrapper-content {
  /* margin-top: 148px; */
  margin: 5px 0;
  min-height: 70%;
}

.wrap-header{
  min-height: 148px;
}



/* @media (max-width: 1650px) {
  .wrapper {
    margin-top: 124px;
  }
} */

@media (max-width: 1367px) {
  .wrap-header{
    min-height: 115px;
  }
}

@media (max-width: 1023px) {
  .wrap-header {
    min-height: 67px;
  }
}

@media (max-width: 431px) {
  .wrap-header {
    min-height: 50px;
  }
  /* .wrapper-content {
    margin-top: 50px;
  } */
}
