<nz-modal [(nzVisible)]="visible" nzTitle="Thêm giá mới" [nzFooter]="null" (nzOnCancel)="onClose()">
  <ng-container *nzModalContent>
    <form [formGroup]="formPrice">
      <div class="column gap-1">
        <div class="row gap-1">
          <div class="row">
            <nz-form-label>Loại giá</nz-form-label>
            <nz-form-control>
              <div style="width: 150px;">
                <nz-select formControlName="priceType" (ngModelChange)="onSelectChange($event)" name="type"
                  nzPlaceHolder="Vui lòng chọn loại giá">
                  <nz-option *ngFor="let type of priceTypeList" [nzLabel]="type.name"
                    [nzValue]="type.value"></nz-option>
                </nz-select>
              </div>
            </nz-form-control>
          </div>

          <div *ngIf="isVisiblePercent" class="row">
            <nz-form-label>Phần trăm</nz-form-label>
            <nz-form-control class="row gap-05">
              <input placeholder="Required" formControlName="salePercent" type="number" style="width: 70px;"
                name="percent" nz-input (input)="onPercentChanged($event)" />
              <span> %</span>
            </nz-form-control>
          </div>
        </div>

        <div class="row gap-05" *ngIf="!isContactValue">
          <nz-form-label>Giá</nz-form-label>
          <nz-form-control>
            <input formControlName="value" type="text" style="width: 150px;" name="value" nz-input
              placeholder="Vui lòng nhập giá" (input)="onValueChange($event)" />
            <span> đ</span>
          </nz-form-control>
        </div>
      </div>
    </form>
    <div class="wrap-button">
      <button class="cancel" (click)="onClose()">
        Hủy bỏ
      </button>
      <button [ngClass]="{'disabled': !formPrice.valid}" class="submit" nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn muốn hoàn thành ?"
        (nzOnConfirm)="onSubmit()" nzPopconfirmPlacement="topRight" nz-button>
        Xác nhận
      </button>
    </div>
  </ng-container>
</nz-modal>
